/.quarto/
/_site/
/public/
.DS_Store
/venv
venv/
.env/

# Do not ignore the CNAME file
!content/extra/CNAME

__pycache__/
*.py[cod]

.vscode/
.idea/
.spyderproject
.spyproject

Thumbs.db

*.log
*.sqlite3

.env

.ipynb_checkpoints

htmlcov/
.coverage
.coverage.*

build/
dist/
*.egg-info/

*.tmp
*.temp